[user]
	name = Jack Denny
	email = 24301052+scarab5q@users.noreply.github.com

[alias]
  submodule-init-all = submodule update --init --recursive
  unstage = restore --staged
  discard = checkout -- 
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  rab = rebase --abort
  rco = rebase --continue
  untemp = "!f() { if [ \"$(git log -1 --format=%s)\" = \"temp\" ]; then git reset --soft HEAD~1; else echo 'Last commit was not a temp commit'; fi; }; f"
  uncommit = "!f() { git reset --soft \"${1:-HEAD~1}\"; }; f"
  resign = "!re() { git rebase --exec 'git commit --amend --no-edit -n -S' -i $1; }; re"

[push]
	autoSetupRemote = true
[pull]
	rebase = true

[user]
	signingkey = /Users/scarab5q/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/22f2d30616bcdd37de806904477e3bc5.pub
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/scarab5q/.gitallowedsigners

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	syntax-theme = Catppuccin Mocha
	hyperlinks = true

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default
